<!--SELENIUM
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
    <suite name = "TestNG Suite">
        <test name = "TestNG Test">
            <classes>
                <class name="com.example.TestNG_DataProvider"/>
                    <methods>
                        <before-method name = "setUp"/>
                        <data-provider name = "test-data">
                            <methods name = "dataProvFunc"/>
                        </data-provider>
                        <test-method name = "search" data-provider = "test-data"/>
                        <after-method name = "burnDown"/>
                    </methods>
                </class>    
            </classes>
        </test>
    </suite>        -->